@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UMember.tbAllyGrade
@{
    ViewBag.Title = "删除加盟等级";
}
<script>
    jQuery().ready(function ($) {
        $(".nav li:contains('加盟等级管理')").addClass("active");
    })

</script>
<h3>确定要删除该加盟等级？</h3>
<fieldset>
    <legend>tbProduct</legend>

    
    <div class="display-label">
         加盟等级名称
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllyGrade_Name)
    </div>
    <div class="display-label">
         权重
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    
    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.ActionLink("取消", "Index","AllyGrade",null,new {@class= "btn"}) <input type="submit" value="提交" class="btn btn-success" />
    </p>
}
